/* 
    Created on : 23.05.2019, 13:24:56
    Author     : m.giessler
*/

#main_frame{
    height: 500px;
    width: 500px;    
}

#headline{
    font-family: Georgia;
    margin-bottom: 1em;
    font-variant: small-caps;
    font-weight: bold;
    color: #c55115;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    background-color: #fff7af;
    border: 5px solid brown;
    border-radius: 500px; 
    box-shadow: 10px 10px 10px black;  
    padding: 5px;
}

#display_info{
    font-family: Georgia;
    font-weight: bold;
    color: #c55115;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    margin-top: 2em;
    padding: .5em;
    background-color: #fff7af;
    border: 5px solid brown;
    border-radius: 500px; 
    box-shadow: 10px 10px 10px black;  
}

#main_frame table{
    margin: auto;
    padding: 40px;
    background-color: #fff7af;
    border: 5px solid brown;
    border-radius: 500px; 
    box-shadow: 10px 10px 10px black;
}

#main_frame button{

    height: 3em;
    width: 3em;
    margin: .25em;
    padding: .25em;  
    border: 8px solid #c55115;
    background-color: #772222;
    border-radius: 100px; 
    box-shadow: black 5px 5px 5px;
}

#main_frame button.select{
    border-color: #ff3333;
    background-color: #772222;
    box-shadow: black 5px 5px 5px;

}
#main_frame button.deselect{
    border-color: #c55115;
    background-color: #772222;
    box-shadow: black 5px 5px 5px;
}
#main_frame button.hide{
    border-color: transparent;
    border-width: 2px;
    box-shadow: inset black 10px 10px 10px;
    background-color: #9d996c;
}

#main_frame button:hover{
    opacity: 0.6;
    visibility: visible;
}

